%h1 Admin::Pages#index

- content_for :css do
  = stylesheet_link_tag 'the_sortable_tree_min', :media => :screen

%p= link_to raw('&larr; back'), '/'

= sortable_tree @pages, :new_url => new_page_path, :path => 'the_sortable_tree_min', :namespace => :admin